.filterRow{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}

.filterRowMobile{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    display: none;
    padding: 18px;
    width: 100%;
}

/* .filterRowMobile:after {
    content: '\f078'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\f077"; 
  } */

.filterContent{
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}



.active, .collapsible:hover {
    background-color: #555;
}



@media (max-width: 991px) {
    .filterContent{
        
        max-height: 0;
    }
}

@media (max-width: 768px ) and (min-width: 512px) {
    .filterRow{
        font-size: 14px;
    }
    .filterContent{
        max-height: 0;
    }
}

@media (max-width: 511px ){
    .filterRow{
        display: none;
    }
    
    .filterRowMobile{
        display: block;
    }
}