.Footer{
    padding: .5rem 1rem;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color: white;
    position:absolute;                 
    bottom:0;                           
    left:0;  
}