html{
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.margin-wrapper{
  margin-top: 10px;
  margin-bottom: 50px;
  border: 2px solid;
  background: #fafafa; 
}

.activeTag{
  border-bottom: 3px white solid;
  font-weight: 600;
}

.sortButton{
  display: inline-block;
  margin: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px; 
  height: 100%;
}

@media (max-width: 575px ){
  .margin-wrapper{
      margin-bottom: 38px;
      margin-top: 0px;
  }
}
